/* VARIABLES AND GENERALS  */

/* section {
  z-index: -1;
} */

/* WHOLE HEADER */

/* HEADER LOGO  */

/* PORTFOLIO HEADER  */

/* HEADER NAVI  */

/* HEADER CONTACT  */

/* !MAIN! */
/* SECTION TITLE */

/* MAIN BUTTON  */

/* MAIN LIST  */

/* MAIN JOBS */

/* MAIN TEAM */

/* MAIN TEAM SOCIALS  */

/* MAIN CLIENTS  */

/* !FOOTER! */

/* FOOTER ADRESS  */

/* FOOTER SOCIALS  */

/* FOOTER NEWSLETTER*/

/* !MODAL! */

/* MODAL FORM  */

/* MODAL CONDITIONS  */

/* PORTFOLIO CARD  */

/* .kontakt::after {
  content: "";
  display: block;
  width: 58px;
  height: 4px;
  background-color: var(--lightblue);
  border-radius: 2px;
  position: absolute;
  left: 656;
  top: 76px;
} */

/* PORTFOLIO MAIN CARD  */

/* PORTFOLIO BUTTONS  */

/* PORTFOLIO MAIN SECTION  */
